<launch>
  <include file="$(find riberry_startup)/launch/all_modes.launch" />

  <include file="$(find kxr_controller)/launch/kxr_controller.launch" >
    <arg name="servo_config_path" value="$(find kxr_models)/config/hand.yaml" />
    <arg name="publish_imu" value="false" />
  </include>

</launch>
